<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    {%block title%}Time Page{% endblock %}

    {%block content%}
    <form action="#" method="POST">
      <p>Start date:</p>
      <p><input type="date" name="startD"/></p>
      <!-- <p>Start time:</p> -->
      <!-- <p><input type="time" name="startT"/></p> -->
      <p>End date:</p>
      <p><input type="date" name="endD"/></p>
      <!-- <p>End time:</p> -->
      <!-- <p><input type="time" name="endT"/></p> --> -->

      <p><button type="submit" value="submit">submit</button></p>
    </form>

    {%endblock%}
  </body>
</html>
